body {
  background-image: url(imgs/villaata.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}
header {
  width: 60%;
  margin: auto;
}
ul {
  list-style-type: none;
  margin-top: 15px;
  width: 110%;
  background-position: center;
  position: relative;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #fff;
  padding: 38px;
  border: 1px solid transparent;
  transition: 0.7s ease;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px 35px 20px 35px;
}
ul li a:hover {
  background-color: #fff;
  color: #000;
}
ul li.active a {
  background-color: #fff;
  color: #000;
}

h1 {
  text-align: center;
  font-size: 100px;
  color: #fff;
}
p {
  background-color: rgba(255, 254, 254, 0.354);
  padding: 20px 38px 20px 38px;
  text-align: center;
}

.active {
  text-decoration: underline;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-item {
  width: 400px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #fff;
}
.flex-container {
  display: flex;
  flex-direction: row;
}
figure {
  margin-left: 0px;
  margin-top: 0px;
  text-align: center;
}
figcaption {
  margin: auto;
  width: 175px;
  text-align: center;
}
@media only screen and (max-width: 780px) {
  body {
    width: 100%;
  }
  header {
    width: 100%;
  }
  ul {
    margin: 0;
  }
  ul li a {
    padding: 0;
  }
  .grid-container {
    grid-template-columns: 100%;
  }
}
